/nbproject/
.idea
dist
out
/build/
/WSDAssignment.iml
/web/WEB-INF/sun-jaxws.xml
nbbuild.xml
catalog.xml
src/conf/xml-resources/web-service-references/History/wsdl/localhost_8080/Project/History.wsdl
src/conf/xml-resources/web-service-references/History/wsdl/localhost_8080/Project/History.xsd_1.xsd
src/conf/xml-resources/web-service-references/History/wsdl/localhost_8080/Project/History.xsd_2.xsd
src/conf/xml-resources/web-service-references/History/wsdl/localhost_8080/wsd31284assignment01/History.wsdl
src/conf/xml-resources/web-service-references/History/wsdl/localhost_8080/Project/History.wsdl
src/conf/xml-resources/web-service-references/History/wsdl/localhost_8080/Project/History.wsdl
src/conf/xml-resources/web-service-references/History/wsdl/localhost_8080/Project/History.xsd_1.xsd
src/conf/xml-resources/web-service-references/History/wsdl/localhost_8080/Project/History.xsd_2.xsd
src/conf/xml-resources/web-service-references/History/wsdl/localhost_8080/wsd31284assignment01/History.xsd_1.xsd
src/conf/xml-resources/web-service-references/History/wsdl/localhost_8080/wsd31284assignment01/History.xsd_2.xsd
src/conf/xml-resources/web-service-references/PlaceOrder/wsdl/localhost_8080/Project/PlaceOrder.wsdl
src/conf/xml-resources/web-service-references/PlaceOrder/wsdl/localhost_8080/Project/PlaceOrder.xsd_1.xsd
src/conf/xml-resources/web-service-references/PlaceOrder/wsdl/localhost_8080/Project/PlaceOrder.xsd_2.xsd
src/conf/xml-resources/web-service-references/PlaceOrder/wsdl/localhost_8080/wsd31284assignment01/PlaceOrder.wsdl
src/conf/xml-resources/web-service-references/PlaceOrder/wsdl/localhost_8080/wsd31284assignment01/PlaceOrder.xsd_1.xsd
src/conf/xml-resources/web-service-references/PlaceOrder/wsdl/localhost_8080/wsd31284assignment01/PlaceOrder.xsd_2.xsd
src/conf/xml-resources/web-service-references/PlaceOrder_1/wsdl/localhost_8080/wsd31284assignment/PlaceOrder.wsdl
src/conf/xml-resources/web-service-references/PlaceOrder_1/wsdl/localhost_8080/wsd31284assignment/PlaceOrder.xsd_1.xsd
src/conf/xml-resources/web-service-references/PlaceOrder_1/wsdl/localhost_8080/wsd31284assignment/PlaceOrder.xsd_2.xsd
web/WEB-INF/jax-ws-catalog.xml
web/WEB-INF/wsdl/localhost_8080/wsd31284assignment/PlaceOrder.wsdl
web/WEB-INF/wsdl/localhost_8080/wsd31284assignment/PlaceOrder.xsd_1.xsd
web/WEB-INF/wsdl/localhost_8080/wsd31284assignment/PlaceOrder.xsd_2.xsd
web/WEB-INF/wsdl/localhost_8080/wsd31284assignment01/History.wsdl
web/WEB-INF/wsdl/localhost_8080/wsd31284assignment01/History.xsd_1.xsd
web/WEB-INF/wsdl/localhost_8080/wsd31284assignment01/History.xsd_2.xsd
web/WEB-INF/wsdl/localhost_8080/wsd31284assignment01/PlaceOrder.wsdl
web/WEB-INF/wsdl/localhost_8080/wsd31284assignment01/PlaceOrder.xsd_1.xsd
web/WEB-INF/wsdl/localhost_8080/wsd31284assignment01/PlaceOrder.xsd_2.xsd
src/conf/xml-resources/web-service-references/History/wsdl/localhost_8080/Project/History.wsdl
src/conf/xml-resources/web-service-references/History/wsdl/localhost_8080/Project/History.xsd_1.xsd
src/conf/xml-resources/web-service-references/History/wsdl/localhost_8080/Project/History.xsd_2.xsd
src/conf/xml-resources/web-service-references/PlaceOrder/wsdl/localhost_8080/Project/PlaceOrder.wsdl
src/conf/xml-resources/web-service-references/PlaceOrder/wsdl/localhost_8080/Project/PlaceOrder.xsd_1.xsd
src/conf/xml-resources/web-service-references/PlaceOrder/wsdl/localhost_8080/Project/PlaceOrder.xsd_2.xsd
src/conf/xml-resources/web-service-references/PlaceOrder_1/wsdl/localhost_8080/wsd31284assignment/PlaceOrder.wsdl
src/conf/xml-resources/web-service-references/PlaceOrder_1/wsdl/localhost_8080/wsd31284assignment/PlaceOrder.xsd_1.xsd
src/conf/xml-resources/web-service-references/PlaceOrder_1/wsdl/localhost_8080/wsd31284assignment/PlaceOrder.xsd_2.xsd
web/WEB-INF/jax-ws-catalog.xml
web/WEB-INF/wsdl/localhost_8080/wsd31284assignment/PlaceOrder.wsdl
web/WEB-INF/wsdl/localhost_8080/wsd31284assignment/PlaceOrder.xsd_1.xsd
web/WEB-INF/wsdl/localhost_8080/wsd31284assignment/PlaceOrder.xsd_2.xsd
catalog.xml
src/conf/xml-resources/web-service-references/History/wsdl/localhost_8080/Project/History.wsdl
src/conf/xml-resources/web-service-references/History/wsdl/localhost_8080/Project/History.xsd_1.xsd
src/conf/xml-resources/web-service-references/History/wsdl/localhost_8080/Project/History.xsd_2.xsd
src/conf/xml-resources/web-service-references/PlaceOrder/wsdl/localhost_8080/Project/PlaceOrder.wsdl
src/conf/xml-resources/web-service-references/PlaceOrder/wsdl/localhost_8080/Project/PlaceOrder.xsd_1.xsd
src/conf/xml-resources/web-service-references/PlaceOrder/wsdl/localhost_8080/Project/PlaceOrder.xsd_2.xsd
src/conf/xml-resources/web-service-references/PlaceOrder_1/wsdl/localhost_8080/wsd31284assignment/PlaceOrder.wsdl
src/conf/xml-resources/web-service-references/PlaceOrder_1/wsdl/localhost_8080/wsd31284assignment/PlaceOrder.xsd_1.xsd
src/conf/xml-resources/web-service-references/PlaceOrder_1/wsdl/localhost_8080/wsd31284assignment/PlaceOrder.xsd_2.xsd
web/WEB-INF/jax-ws-catalog.xml
web/WEB-INF/wsdl/localhost_8080/wsd31284assignment/PlaceOrder.wsdl
web/WEB-INF/wsdl/localhost_8080/wsd31284assignment/PlaceOrder.xsd_1.xsd
web/WEB-INF/wsdl/localhost_8080/wsd31284assignment/PlaceOrder.xsd_2.xsd
